{% if clone_image is defined and clone_image != None -%}
    {{ clone_image }}:
{%- else %}
    {{ my_service }}:
{%- endif %}
{% if app_version != None -%}
    {{ app_version }}
{%- else %}
    {{ latest_version.stdout }}
{%- endif %}